{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

        <script type="text/javascript" language="javascript" src='{% static "jquery.js" %}'></script>
        <link rel="stylesheet" type="text/css" href='{% static "base.css" %}' />

        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="stripe"></div>
        <table id="header"><tr>
            <td><img src='{% static "logo.png" %}' alt="WoT Squad Analyzer" /></td>
            <td>
            {% if user.is_authenticated %}
                <div id="welcome">User: {{ user.username }}, <a href="/accounts/logout">logout</a></div>
            {% endif%}
            </td>
        </tr></table>
        <div id="container">
            {% block body %}{% endblock %}
        </div>
        {% block footer %}
            <div id="footer">
                <ul>
                    <li><a href="/help/">How it works</a></li>
                    <li><a href="https://bitbucket.org/ohmelevs/wot-squad-analyzer-ria/issues">Found a bug?</a></li>
                    <li>Version 0.1</li>
                </ul>
                <p>World of Tanks and Wargaming.net are registered trademarks or trademarks of Wargaming.net LLP.</p>
                <p>This website is in no way associated with Wargaming.net.</p>
            </div>
        {% endblock %}
    </body>
</html>
