{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
    <title>WoT Squad Analyzer</title>
    <script type="text/javascript" language="javascript" src='{% static "jquery.dataTables.js" %}'></script>
    <script type="text/javascript" language="javascript" src='{% static "statistic.js" %}'></script>
    <link rel="stylesheet" type="text/css" href='{% static "statistic.css" %}' />

    <script type="text/javascript">
        $(document).ready(function() {
            if (!window.File && !window.FileReader && !window.FileList && !window.Blob) {
                alert('Your browser is unsupported.');
                return;
            }
            $('#analyze_button').click(analyze);
            buildTable('#team_1');
            buildTable('#team_2');
            connectTables('#team_1', '#team_2');
        });
    </script>
{% endblock %}

{% block body %}
    <li>
        <label for="wot_account">WoT Account: </label>
        <input id="wor_account" type="text" />
    </li>
    <li>
        <label for="replay_file">Path to temp.wotreplay file: </label>
        <input id="replay_file" type="file" />
    </li>
    <li>
        <input type="button" id="analyze_button" value="Analyze">
        <span id="status">&nbsp;</span>
        <span id="win_chance">&nbsp;</span>
    </li>
    <div class="result-table"><h3>Home team</h3><div id="team_1"></div></div>
    <div class="result-table"><h3>Away team</h3><div id="team_2"></div></div>
{% endblock %}
