body {
    margin:0;
    padding:0;
    text-align:center;
    background-color: whiteSmoke;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#container {
    padding-top: 20px;
    padding-bottom: 40px;
    width:1200px;
    margin: 0 auto;
    text-align: left;
}

#stripe {
    background-color: #2E3D54;
    height: 60px;
    position:absolute;
    width:100%;
    z-index: -1;
    margin-bottom: 50px;
}

#header {
    width:1200px;
    margin: 0 auto;
    text-align: left;
}

#welcome {
    color: white;
}
    #welcome a:link {
        color: white;
    }
    #welcome a:visited {
        color: white;
    }
    #welcome a:hover {
        color: white;
    }
    #welcome a:active {
        color: white;
    }

#footer {
    border-top: 1px solid #CCC;
    color: #707070;
}
    #footer li {
        display: inline-block;
        margin: 15px;
    }
    #footer a:link {
        color: #707070;
    }
    #footer a:visited {
        color: #707070;
    }
    #footer a:hover {
        color: #707070;
    }
    #footer a:active {
        color: #707070;
    }
