li {
    list-style-type: none;
    margin-bottom: 10px;
}

li #status {
    margin-left: 20px;
    width: 600px;
    display: inline-block;
}

li #win_chance {
    margin-left: 20px;
    display: inline-block;
    font-weight: bold;
    font-size: 130%;
}

div.result-table {
    display: inline-block;
    text-align: center;
}
    .result-table table,.result-table th,.result-table td {
        border: 1px solid #CCC;
    }
    .result-table th {
        cursor: default;
    }
    .result-table tr {
        height: 25px;
    }
    .result-table .name_column {
        width: 130px;
    }
    .result-table .tank_column {
        width: 130px;
    }
    .result-table .level_column {
        width: 60px;
    }
    .result-table .battles_column {
        width: 60px;
    }
    .result-table .wins_column {
        width: 60px;
    }
    .result-table .efficiency_column {
        width: 60px;
    }

.great {
    color: #842DCE;
}
.good {
    color: #347235;
}
.normal {
    color: #4CC417;
}
.bad {
    color: #FBB117;
}
.very-bad {
    color: #FF0000;
}
