{% extends "base.html" %}

{% block head %}
    <title>WoT Squad Analyzer | Login</title>
{% endblock %}

{% block body %}
    <header>
        <h4>Login Page</h4>
    </header>

    <section>
        {% if form.errors %}
            <p>Your username and password didn't match, please try again.</p>
        {% endif %}

        <form method="post" action=".">
            {% csrf_token %}
            <p>
                <label for="id_username">Username:</label>
                {{ form.username }}
            </p>
            <p>
                <label for="id_password">Password:</label>
                {{ form.password }}
            </p>
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% else %}
                <input type="hidden" name="next" value="/" />
            {% endif %}
            <input type="submit" value="login" />
        </form>
    </section>
{% endblock %}
{% block footer %}{% endblock %}
